/* import Glory font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
  font-family: "PT Sans", sans-serif;
}

body {
  overflow-x: hidden;
}
/* search area styles */
.search-box {
  max-width: 800px;
  padding-top: 40px;
  padding-bottom: 70px;
}
.search-field {
  border: 2px dashed #ffc107;
  padding: 5px;
  outline: none;
}
.search-field:hover {
  outline: none;
  border: 2px dotted #ffc107;
}
/* each product container styles */
.single-product {
  border-radius: 10px;
  padding: 30px 5%;
  position: relative;
}
/* gradient shadow styles */
.single-product::before,.single-product::after{
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
}
.single-product::before{
  z-index: -1;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
}
.single-product::after{
  z-index: -2;
  background: linear-gradient(125deg, red, blue);
  filter: blur(5px);
  opacity: 0.1;
  transition: 400ms;
}
.single-product:hover::after{
  filter: blur(10px);
  opacity: 0.3;
}
.product-image {
  width: 150px;
  height: 150px;
}
/* cart style */
.cart {
  width: 360px;
  border-radius: 10px;
  position: fixed;
}
/* gradient shadow styles */
.cart::before, .cart::after{
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
}
.cart::before{
  z-index: -1;
  background: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset;
}
.cart::after{
  z-index: -2;
  background: linear-gradient(45deg, orangered, blue);
  filter: blur(10px) opacity(.3);
}

@media only screen and (max-width: 992px) {
  .cart {
    width: 450px;
    position: relative;
  }
}
@media only screen and (max-width: 550px) {
  .cart {
    width: 100%;
  }
}
